.cart {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    justify-content: center;
}

.empty-cart {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.empty-cart-image {
    max-width: 400px;
}

.empty-message {
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    margin-left: -60px;
}

.cart-container {
    width: 500px;
    margin: 0.5em;
    min-height: 200px;
    margin-bottom: 28px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    margin-right: 50px;

}

.cart-container img {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border: 5px solid white;
    object-fit: contain;
    align-self: center;
}

.cart-container h3 {
    min-height: 35px;
    font-size: 1em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
}

.cart-container:hover {
    box-shadow: 1px 1px 8px 5px #888888
}

.cart-container .product-description {
    max-height: 50px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
}

.cart-container p span {
    font-weight: 600;
    color: black;
}

.price-rating {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;

}

.total-price {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10px;
    font-weight: 600;

}

.total-price span {
    color: black;
    font-weight: 500;
}

.cart-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
}

.cart-button {
    background-color: white;
    border: 1px solid rgb(75, 69, 69);
    width: 40px;
    height: 25px;
    color: black;
    border-radius: 15px;
}

.cart-button:hover {
    background-color: white;
}

.increment-button:hover {
    border: 1px solid green;
}

.decrement-button:hover {
    border: 1px solid red;
}

.remove-button {
    width: 70px;
}

.remove-button:hover {
    border: 1px solid red;
    color: red;

}

.item-quanitity {
    color: black;
    font-weight: 500;
    margin-left: -8px;
    margin-right: -8px;
}


.final-cart {
    min-width: 350px;
    background-color: white;
    border-radius: 15px;
    max-height: 200px;
    padding: 15px;
    margin-right: 50px;
}

.cart-heading {
    padding-top: 5px;
    color: black;
}

.cart-heading h3 {
    padding-bottom: 15px;
}

.total-summary {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-weight: 300;
}

.total-price {
    font-weight: bolder;
}

@media (max-width:900px) {

    .cart {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-left: 10px;
    }

    .cart-container {
        min-width: 600px;
        max-width: 90vw;
        margin: 0;
        min-height: 200px;
        margin-bottom: 28px;
        text-align: left;

    }

    .all-cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .total-summary{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        font-weight: 300;
    }

    .final-cart {
        min-width: 600px;
       margin-right: 0px;
    }
    
    
    .item-quanitity {
        color: black;
        font-weight: 500;
        margin-left: -2px;
        margin-right: -2px;
    }

}

@media (max-width:650px) {

    .cart {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-left: 10px;
    }

    .cart-container {
        min-width: 90vw;
        max-width: 90vw;
        margin: 0;
        min-height: 200px;
        margin-bottom: 28px;
        text-align: left;

    }

    .all-cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .total-summary{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        font-weight: 300;
    }

    .final-cart {
        min-width: 90vw;
        max-width: 90vw;
       margin-right: 0px;
    }
    
    
    .item-quanitity {
        color: black;
        font-weight: 500;
        margin-left: -2px;
        margin-right: -2px;
    }

}