footer {
    /* max-height: 70px; */
    min-width: 100vw;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 6vw 1vh 6vw;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

footer img {
    width: 120px;
    /* padding-bottom: 5px; */
}

.copy-right {
    color: white;
    padding-top: 10px;
}


@media (max-width : 550px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
    }

    footer img {
        width: 100px;
    }

    .copy-right {
        color: white;
    }

}