header {
    background-color: rgb(252, 218, 174);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
}

header img {
    height: 30%;
}

header ul {
    list-style: none;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50vw;
    color: black;

}
a {
    color: black;
    text-decoration: none;
}

header ul li {
    padding-bottom: 13px;
    /* border-bottom: 3px solid antiquewhite; */
    padding-left: 8px;
    font-size: 1.3em;
}

li:hover {
    color: hsl(136, 65%, 51%);
}

.header-cart{
    min-width: 60px;
    min-height: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   text-align: center;
    /* background-color: red; */
    padding: 0;
}

.header-cart img {
    width: 40px;
}

.header-cart span {
    position: absolute;
    background-color: white;
    width: 20px;
    font-weight: 700;
    border-radius: 25px;
}


.header-cart img:hover {
    scale: 1.1;
}