
.loader {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(180, 148, 231);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute; 
    left: 45%;
    transform: translate(50%,50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
