article {
    max-width: 50vw;
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.message{
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(252, 218, 174);
    position: absolute;
    transform: translate(50%,-50%);
    min-width: 50vw;
    max-width: 80vw;
    text-align: center;
    min-height: 200px;
    border-radius: 25px;
    padding: 30px;
    

}

.all-products-heading{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.all-products-container {
    display: flex;
    margin: 1em;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.product-container {
    width: 250px;
    margin: 0.5em;
    min-height: 440px;
    margin-bottom: 28px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.product-container img {
    width: 230px;
    max-height: 200px;
    min-height: 200px;
    border: 5px solid white;
    object-fit: contain;
}

.product-container h3 {
    min-height: 35px;
    font-size: 1em;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
}

.product-container:hover {
    box-shadow: 5px 10px 8px 10px #888888
}

.product-container .product-description {
    max-height: 50px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
}

.product-container p span {
    font-weight: 600;
    color: black;
}

.view-product-description {
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    font-size: 1em;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
    overflow-y: hidden;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
}

.product-button {
    background-color: yellowgreen;
    border: none;
    width: 120px;
    height: 25px;
    color: white;
    border-radius: 5px;
}

.product-button:hover {
    background-color: blue;
}

.loader {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(180, 148, 231);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute; 
    left: 45%;
    transform: translate(50%,50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:550px){
    article {
        max-width: 90vw;
        min-width: 90vw;
        
    }
    .message{
        font-size: 20px;
    }


}