.update {
    max-width: 50vw;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    /* background-color:violet; */
    align-items: center;
    position: fixed;
    right: 0;
    top: 100px;
    margin-bottom: 80px;
}

.update-section {
    background-color: white;
    min-width: 80%;
    min-height: 400px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 100px;
}

.container {
    width: 100%;
    /* background-color: aquamarine; */
}

.update h1 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-bottom: 10px;
}

.form-container {
    padding: 20px;
    max-width: 80%;
    /* background-color: aliceblue; */
    background-color: white;
    margin: auto;
    /* border: 2px solid black;  */
    border-radius: 10px;

}

.label {
    font-weight: bolder;
}

input {
    width: 99%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

textarea {
    max-width: 99%;
    min-width: 99%;
    max-height: 150px;
    min-height: 150px;
    padding: 5px;

}

#signup-button {
    margin-left: 35%;
}

button {
    width: 100px;
    height: 40px;
    color: black;
    border-radius: 10px;
    /* box-shadow: 2px 4px rgb(165 165 165); */
    font-weight: bold;
    border: none;
    margin: auto;
}

.update-button {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: rgb(222 237 243);
}

.errorLable {
    margin-top: -5px;
    margin-bottom: 10px;
    color: red;
}

.popup-container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    /* opacity: 0.5; */
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.popUp {
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 2px 2px 10px;
    position: fixed;
    margin: auto;
    left: 30%;
    z-index: 2;
    opacity: 1;
    /* transform: translate(100%,50%); */
}

.popUp div {
    margin: 20px;
}

.popup-button {
    margin: 20px;
}

.update-message {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width:550px) {
    .update {
        max-width: 90vw;
        min-width: 90vw;
        display: flex;
        flex-direction: column;
        /* background-color:violet; */
        align-items: center;
        position: unset;
        margin: auto;
        margin-bottom: 100px;
        margin-top: 30px;
    }


    .popup-container {
        min-width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.1);
        /* opacity: 0.5; */
        display: flex;
        justify-content: center;
        position: fixed;
        /* top: 0;
        left: 0; */
        /* padding-top: 50px; */
    }

    .popUp {
        min-width: 90%;
        max-width: 90%;
        min-height: 200px;
        max-height: 200px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid black;
        box-shadow: 2px 2px 10px;
        position: fixed;
        margin-left: 10px;
        left:0%;
        transform: translate(0%,50%);
    }

    .popUp div {
        margin: 20px;
    }

    .popup-button {
        margin: 20px;
    }

    .update-message {
        font-size: 20px;
        font-weight: 700;
    }


}