.view-product{
    /* position:absolute */
    margin-top: 100px;
}


.view-product-container {
    /* background-color: aqua; */
    width: 100vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2.2em;
}


.single-product-container {
    width: 600px;
    /* height: 460px; */
    margin: 0.5em;
    min-height: 440px;
    margin-bottom: 28px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    /* vertical-align: center; */
    align-self: center;
    display: flex;
    align-items: center;

}

.single-image{
    min-width: 250px;
}

.single-product .product-details{
    padding: 20px;
}

.single-product-container h3 {
    min-height: 35px;
    font-size: 1em;
    overflow-y: hidden;
    color: black;
    /* text-align: justify; */
}

.single-product-container:hover {
    box-shadow: 5px 10px 8px 10px #888888
}

.single-product-container .product-description {
    max-height: 50px;

    overflow-y: hidden;
    /* text-align: justify; */
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
}

.single-product-container p span {
    font-weight: 600;
    color: black;
}

.view-product-description{
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    font-size: 1em;
    -webkit-box-orient: vertical;
    margin-bottom: 2px;
    overflow-y: hidden;
}

.single-button {
    background-color: yellowgreen;
    border: none;
    width: 100px;
    height: 25px;
    color: white;
    border-radius: 5px;
    margin: 10px;

}

.single-button:hover {
    background-color: blue;
}

.single-product {
    /* background-color: red; */
    display: flex;
    align-items: center;
    height: 100%
}



@media (max-width:550px) {

    .single-product {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%
    }
    .single-product-container {
        max-width: 90vw;
        max-height: 70vh;
    
    }
    .single-image{
        /* max-width: 10px; */
        max-height: 200px;
    }

}